.swal2-actions {
  flex-direction: row-reverse;
}
.update-num {
  button {
    border: none;
    padding-right: 0;
    padding-left: 0;
  }
  input {
    text-align: center;
    border: 0;
    background-color: transparent;
    width: 50px;
    outline: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.pay-step {
  height: 50px;
  width: 50px;
  margin: 0 auto 8px auto;
  border-radius: 50%;
  span {
    line-height: 50px;
  }
}
