body {
  overflow-x: hidden;
}
footer {
  height: 320px;
  flex: 0;
}
.view-height {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.user-view {
  flex: 1;
  padding-bottom: 80px;
  padding-top: 75px;
}
.page-title {
  position: relative;
  height: 280px;
  margin-bottom: 48px;
  background-color: rgba($info, .8);
  background-blend-mode: multiply;
  background-image: url(@/assets/images/titleBG.avif);
  background-repeat: no-repeat;
  background-position: center 55%;
  background-size: cover;
  color: $light;
  h3 {
    font-size: 42px;
    font-weight: 700;
  }
  h3, nav {
    z-index: 10;
  }
}
#app {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
@media (min-width: 768px) {
  .page-title {
    height: 320px;
  }
}