.header {
  background-image: url(@/assets/images/headerIMG.avif);
  background-position: center 75%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .header-text {
    position: relative;
    top: 35%;
    left:50%;
    h2 {
      font-size: 24px;
    }
  }
  .header-text::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0px 0px 90px 90px rgba(255, 255, 255, 1);
    z-index: -1;
  }

  .star-1 {
    animation: blink 1s infinite;
    animation-direction: alternate;
  }
  .star-2 {
    animation: blink 1.7s infinite;
    animation-direction: alternate;
  }
  .star-3 {
    animation: blink 0.8s infinite;
    animation-direction: alternate;
  }
  
  .box-2,
  .box-1,
  .box-4,
  .box-3 {
    width: 8px;
    height: 8px;
    overflow: hidden;
    position: relative;
  }
  .box-2:before,
  .box-1:before,
  .box-4:before,
  .box-3:before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
  }
  .box-2:before {
    bottom: 0;
    left: 0;
    box-shadow: -4px 4px 0 0 white;
  }
  .box-1:before {
    bottom: 0;
    right: 0;
    box-shadow: 4px 4px 0 0 white;
  }
  .box-4:before {
    top: 0;
    left: 0;
    box-shadow: -4px -4px 0 0 white;
  }
  .box-3:before {
    top: 0;
    right: 0;
    box-shadow: 3px -3px 0 0 white;
  }
    
  @keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

}
.category {
  position: relative;
  z-index: 1; /* 確保內容在前景層 */
  margin-top: 100vh; /* 確保內容不被 header 覆蓋 */
}
.news {
  background-image: url(@/assets/images/indexBG.avif);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  h4 {
    font-size:48px;
  }
  p {
    margin-bottom: 0;
  }
  li {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .header {
    .header-text {
      top: 40%;
      left:30%;
      h2 {
        font-size: 32px;
      }
    }
  }
  .news{
    h4 {
      font-size:64px;
    }
  }
}

@supports (-webkit-touch-callout: none) {
  .header, .news {
      background-attachment: scroll;
  }
}