.cursor-pointer {
  cursor: pointer
}
.pre-line {
  white-space: pre-line;
}
.bg-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title-border-bottom {
  display: inline-block;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: $secondary;
  }
}